@import "../../global.scss";
.projectContainer {
  background-color: $bg1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: $text1;
  height: calc(100vh);
  .bordercolor {
    border: 1px solid $bg2;
    width: 100%;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    &.mod2 {
      flex-direction: row-reverse;
      .left {
        .leftContainer {
          .img {
            position: relative;
            &::after {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: -20px;
              left: 20px;
              background: linear-gradient($linear);
              z-index: -1;
            }
          }
        }
      }
    }
    .circle2 {
      transform: rotate(180deg);
      position: absolute;
      right: 10%;
      top: -5%;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: linear-gradient($linear2);
    }
    .circle1 {
      position: absolute;
      left: 10%;
      bottom: 5%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: linear-gradient($linear);
    }
    .left {
      flex: 3;
      display: flex;

      .leftContainer {
        margin: 0 50px;
        display: flex;

        .img {
          position: relative;
          display: flex;
          z-index: 3;
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 20px;
            right: -20px;
            background: linear-gradient($linear);
            z-index: -1;
          }

          img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
          }
        }
      }
    }
    .right {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      // background: #000;
      .content {
        width: 400px;

        .header {
          width: 20%;
          display: flex;
          width: 100%;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 50px;
          .button {
            padding: 10px 20px;
            // border-radius: 20px;
            cursor: pointer;
            background: white;
            transition: all 0.5s ease;
            color: $text1;
            &:hover {
              background: $bg2;
              a {
                color: white;
              }
            }
            a {
              color: $text1;
              text-decoration: none;
            }
          }
        }
        span {
          color: #788;
          font-size: 14px;
        }
        p {
          color: $text1;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0.8px;
        }
      }
    }
  }
}
